# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
_replicator/000005.ldb
_replicator/000008.ldb
_replicator/000009.log
_replicator/CURRENT
_replicator/LOCK
_replicator/LOG
_replicator/LOG.old
_replicator/MANIFEST-000007
_users/000005.ldb
_users/000008.ldb
_users/000009.log
_users/CURRENT
_users/LOCK
_users/LOG
_users/LOG.old
_users/MANIFEST-000007
account/000003.log
account/CURRENT
account/LOCK
account/LOG
account/MANIFEST-000002
hero/000005.ldb
hero/000006.log
hero/CURRENT
hero/LOCK
hero/LOG
hero/LOG.old
hero/MANIFEST-000004
pouch__all_dbs__/000005.ldb
pouch__all_dbs__/000008.ldb
pouch__all_dbs__/000009.log
pouch__all_dbs__/CURRENT
pouch__all_dbs__/LOCK
pouch__all_dbs__/LOG
pouch__all_dbs__/LOG.old
pouch__all_dbs__/MANIFEST-000007
log.txt
rxdb-local.tgz
