 <form autocomplete="off" *ngIf="Account" class="account-insert-component">
    <mat-form-field>
        <input matInput #input [(ngModel)]="Account.name" [autofocus]="true" name="name" placeholder="Account Name" />
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="Account.type" name="type">
            <mat-option *ngFor="let acc of accounts" [value]="acc.value">
                {{acc.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput #input [(ngModel)]="Account.institution" [autofocus]="true" name="institution" placeholder="Account institution" />
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" (click)=submit()>insert</button>
</form>
