<div id="top-line"></div>
<div class="content">
    <mat-tab-group >
        <mat-tab  label="Results"> 
            <mat-card>
                <a (click)="calculateLast7DaysReturn(8)">7d</a> | <a (click)="calculateMTDReturn()">MTD</a> | <a (click)="calculateYTDReturn()">YTD</a>
                <result-weekly></result-weekly>
            </mat-card>
            <mat-card>
                <cost-basis></cost-basis>
            </mat-card>
            <mat-card>
                <position-sizing></position-sizing>
            </mat-card>
        </mat-tab>
        <mat-tab label="Positions"> 
            <mat-tab-group>
                <mat-tab label="Actual amount per account"> 
                    <mat-card>
                        <mat-card-subtitle>Amounts per account</mat-card-subtitle>
                        <amount-per-account-list (edit)="editAmountPerAccount($event)"></amount-per-account-list>
                    </mat-card>
                    <br />
                    <mat-card>
                        <mat-card-subtitle>Add amount per account</mat-card-subtitle>
                        <amount-per-account-insert></amount-per-account-insert>
                    </mat-card>   
                </mat-tab>
                <mat-tab label="Actual amount per company"> 
                    <mat-card>
                        <mat-card-subtitle>Amounts per Company</mat-card-subtitle>
                        <amount-per-company-list (edit)="editAmountPerCompany($event)"></amount-per-company-list>
                    </mat-card>
                    <br />
                    <mat-card>
                        <mat-card-subtitle>Add amount per company</mat-card-subtitle>
                        <amount-per-company-insert></amount-per-company-insert>
                    </mat-card>   
                </mat-tab> 
                <mat-tab label="Added positions"> 
                    <mat-card>
                        <added-position-list (edit)="editAddedPosition($event)"></added-position-list>
                    </mat-card>
                    <br />
                    <mat-card>
                        <added-position-insert></added-position-insert>
                    </mat-card>
                </mat-tab> 
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Cotisations"> 
            <mat-card>
                <mat-card-subtitle>Cotisations</mat-card-subtitle>
                <cotisation-list (edit)="editCotisation($event)"></cotisation-list>
            </mat-card>
            <br />
            <mat-card>
                <mat-card-subtitle>Add Cotisation</mat-card-subtitle>
                <cotisation-insert></cotisation-insert> 
            </mat-card>
        </mat-tab>
        <mat-tab label="Accounts"> 
            <mat-card>
                <mat-card-subtitle>Accounts</mat-card-subtitle>
                <account-list (edit)="editAccount($event)"></account-list>
            </mat-card>
            <br />
            <mat-card>
                <mat-card-subtitle>Add Account</mat-card-subtitle>
                <account-insert></account-insert>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
    
</div>